<footer class="footer">
  <div class="wrapper">
    <p class="site-footer">
      <span>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></span>
      <span>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></span>
      <span>Theme designed by <a href="http://www.xiaocaoge.com/" target="_blank">Alex Chao</a></span>
    </p>
  </div>
</footer>