<header class="header">
  <div class="wrapper clearfix">
    <div class="search-form-wrap fr">
      <form action="//google.com/search" method="get" class="search-form">
        <input type="input" name="q" results="0" id="keywords" class="search-form-input hidden" placeholder="Search">
        <button id="search-btn" class="search-form-submit"><i class="icon icon-l icon-search" aria-hidden="true"></i><span class="visuallyhidden">Submit</span></button>
        <input type="hidden" name="q" value="site:<%- config.url %>">
      </form>
    </div>
  </div>
</header>
